In [1]:
from xgboost import XGBClassifier
import numpy as np
import pandas as pd

train_df = pd.read_csv('input/train.csv')
test_df = pd.read_csv('input/test.csv')

C:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
train_df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
test_df.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train_df.shape,test_df.shape

((42000, 785), (28000, 784))

In [5]:
train_df.columns

Index(['label', 'pixel0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5',
       'pixel6', 'pixel7', 'pixel8',
       ...
       'pixel774', 'pixel775', 'pixel776', 'pixel777', 'pixel778', 'pixel779',
       'pixel780', 'pixel781', 'pixel782', 'pixel783'],
      dtype='object', length=785)

In [6]:
y_train = train_df.pop('label')

In [7]:
# 使用xgboost自带方法模型
from sklearn.model_selection import cross_val_score

params = [2,3,4,5,6]
learning_rates = np.linspace(0.01, 0.2, 10)
test_scores = []
params_eta_index = []
for param in params:
    # print(param)
    for learning_rate in learning_rates: 
        clf = XGBClassifier(max_depth=param, learning_rate=learning_rate, objective='multi:softmax')
        test_score = cross_val_score(clf, train_df, y_train, cv=10, scoring='accuracy')
        test_scores.append(test_score)
        params_eta_index.append((param,learning_rate))
        print((param,learning_rate))

(2, 0.01)
(2, 0.03111111111111111)
(2, 0.052222222222222225)
(2, 0.073333333333333334)
(2, 0.094444444444444442)
(2, 0.11555555555555555)
(2, 0.13666666666666669)
(2, 0.15777777777777779)
(2, 0.1788888888888889)
(2, 0.20000000000000001)
(3, 0.01)
(3, 0.03111111111111111)
(3, 0.052222222222222225)
(3, 0.073333333333333334)
(3, 0.094444444444444442)
(3, 0.11555555555555555)
(3, 0.13666666666666669)
(3, 0.15777777777777779)
(3, 0.1788888888888889)
(3, 0.20000000000000001)
(4, 0.01)
(4, 0.03111111111111111)
(4, 0.052222222222222225)
(4, 0.073333333333333334)
(4, 0.094444444444444442)
(4, 0.11555555555555555)
(4, 0.13666666666666669)
(4, 0.15777777777777779)
(4, 0.1788888888888889)
(4, 0.20000000000000001)
(5, 0.01)
(5, 0.03111111111111111)
(5, 0.052222222222222225)
(5, 0.073333333333333334)
(5, 0.094444444444444442)
(5, 0.11555555555555555)
(5, 0.13666666666666669)
(5, 0.15777777777777779)
(5, 0.1788888888888889)
(5, 0.20000000000000001)
(6, 0.01)
(6, 0.03111111111111111)
(6, 0.052222222222222225)
(6, 0.073333333333333334)
(6, 0.094444444444444442)
(6, 0.11555555555555555)
(6, 0.13666666666666669)
(6, 0.15777777777777779)
(6, 0.1788888888888889)
(6, 0.20000000000000001)

In [14]:
# 查看准确率最大值，此时参数（树深，学习率）
#min(test_scores),params_eta_index[test_scores.index(min(test_scores))]
mean_scores = []
for i in test_scores:
    mean_scores.append(np.mean(i))
max(mean_scores),params_eta_index[mean_scores.index(max(mean_scores))]
# XGBClassifier方法全参数
# XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
#        gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=10,
#        min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
#        objective='binary:logistic', reg_alpha=0, reg_lambda=1,
#        scale_pos_weight=1, seed=0, silent=True, subsample=1)

(0.97276174779795854, (6, 0.20000000000000001))

In [19]:
# 使用调好的参数训练模型，并预测
clf = XGBClassifier(max_depth=6, learning_rate=0.2, objective='multi:softmax')
clf.fit(train_df, y_train)
prediction = clf.predict(test_df)

In [23]:
submission_df = pd.DataFrame(data= {'ImageId' : test_df.index + 1, 'Label': prediction})

In [24]:
submission_df.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [26]:
# 输出预测结果
submission_df.to_csv(r'input/digit_recognizer_xgb.csv',index=False)